 <%- include('cabecalho.ejs')%>
 <main class="container">
        <a href="/musica" class="back-link">← Voltar para lista</a>

        <div class="detail-box">
            <h2>Detalhes da Música</h2>
            
            <div class="detail-item">
                <label>Nome:</label>
                <p><%=nome%></p>
            </div>
            
            <div class="detail-item">
                <label>Artista:</label>
                <p><%=artista%></p>
            </div>
        </div>
    </main>
<%- include('rodape.ejs')%>